@import "./mixins.css";
@import "./base.css";

html {
  box-sizing: border-box;
}

body {
  font-family: Muller, Arial, Helvetica, sans-serif;
}

.container {
  max-width: 460px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.pomodoro__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

.pomodoro__autoplay {
  display: flex;
  justify-content: center;
}

.pomodoro__controls {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;

  border-radius: 4px;
  border: 1px solid #dfe1e5;
}

.pomodoro__controls button {
  background-color: rgb(250, 250, 250);
}

.pomodoro__header {
  padding-top: 60px;
  padding-bottom: 20px;
}

.pomodoro__progress {
  margin-bottom: 40px;
}

.pomodoro__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.pomodoro__timer {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 42px;
  font-weight: 400;
}

.pomodoro__icon__wrap {
  width: 35px;
  height: 35px;
  margin-bottom: 16px;
}

button {
  padding: 10px 24px;

  font: inherit;
  font-size: 16px;
  font-weight: 300;
  color: black;

  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button:disabled {
  opacity: 0.3;

  box-shadow: 0 0 1px rgba(0, 0, 0, 0.13);
}

button:hover {
  background-color: rgb(248, 248, 248);
}

button:active,
button:focus {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.13);
}

button:focus {
  background-color: rgb(255, 245, 204);
  outline: none;
}

progress[value] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 5px;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #f0f0f0;
}

progress[value]::-webkit-progress-value {
  background-color: rgb(36, 135, 216);
}

.duration-form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 60px 60px 60px;
  width: 100%;
  justify-content: center;
}

.duration-form__footer {
  display: flex;
  justify-content: center;
  grid-column: 1/4;
  margin-top: 0;
  margin-bottom: 0;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.field_autoplay {
  flex-direction: row;
  margin-bottom: 20px;
}

.field__label {
  margin-bottom: 10px;
}

.field_autoplay .field__label {
  position: relative;
  margin-bottom: 0;

  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.field__autoplay {
  position: relative;

  width: 60px;
  height: 30px;
  margin-right: 20px;

  background-color: #ffbe52;
  border-radius: 26px;
}

.field__autoplay::before {
  position: absolute;
  top: 5px;
  left: 5px;

  content: "";

  display: block;
  width: 20px;
  height: 20px;

  background-color: rgb(250, 250, 250);
  border-radius: 50%;

  transition: transform        100ms ease-in-out,
              background-color 100ms ease-in-out;
}

.field_autoplay .field__input:checked ~ .field__autoplay::before {
  transform: translateX(30px);
}

.field_autoplay .field__input:checked ~ .field__autoplay {
  background-color: #84bd93;
}

.field__input {
  width: 60px;
  height: 40px;

  font: inherit;
  font-size: 18px;
  text-align: center;

  border: 2px solid rgb(226, 226, 226);
  border-radius: 5px;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.field_autoplay .field__input {
  display: none;
}

.wiki-link {
  display: inline-block;
  padding: 4px 10px;

  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;

  background-color: rgb(231, 231, 231);
  border-radius: 4px;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 40px;

  line-height: 1.5;
}

.page-footer__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 32px;
  font-weight: 300;
}

.page-footer p {
  margin-top: 0;
  margin-bottom: 16px;
}
